<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kit</title>
</head>
<body>
<form action="/" method="post">
    <label for="fname">num2:</label>
    <input type="text" id="fname" name="num1"><br><br>
    <label for="fname">num1:</label>
    <input type="text" id="name" name="num2"><br><br>


    <input type="submit" value="Submit">
</form>
</body>
</html>